@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
html a {
  text-decoration: none;
  color: inherit;
}
html input {
  outline: none;
}

.hide {
  display: none;
}

div.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
div.header > div {
  margin: auto;
  width: 95%;
  max-width: container 1200px;
}
div.header > div > div:first-child {
  display: none;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  div.header > div > div:first-child {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  div.header > div > div:nth-child(2) {
    display: none;
  }
}
div.header h1.logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
@media (max-width: 1200px) {
  div.header h1.logo {
    flex-grow: 1;
  }
}
div.header h1.logo img.img {
  height: 25px;
  transform: translateY(10px);
}
div.header .s {
  position: relative;
}
div.header .s .i {
  width: 24px;
  opacity: 26%;
  top: 8px;
  position: absolute;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
}
div.header .s .in {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 40px;
}
div.header .s .in:hover {
  border-color: #000;
}
div.header .s .in::placeholder {
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9b9b9b;
}
div.header .drawer {
  width: 24px;
  opacity: 54%;
  display: none;
}
div.header .drawer .title {
  text-transform: lowercase;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
}
div.header .drawer-closed > img {
  background: url(../assets/close.svg) no-repeat;
  background-size: contain;
}
div.header .drawer-closed .title:after {
  content: "fechar";
}
div.header .drawer-active {
  display: block;
}
@media (max-width: 1200px) {
  div.header .floating {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
}
@media (max-width: 1200px) {
  div.header div.menu {
    display: none;
  }
}
div.header div.menu .list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.header div.menu .link {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: baseline;
}
div.header div.menu .link:hover {
  border-bottom: 2px solid #000;
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 16px;
}
.main .breadcrumbs {
  margin-bottom: 16px;
}
.main .breadcrumbs .list {
  display: flex;
}
@media (max-width: 1200px) {
  .main .breadcrumbs .list {
    justify-content: center;
  }
}
.main .breadcrumbs .list .item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #585858;
}
@media (max-width: 1200px) {
  .main .breadcrumbs .list .item {
    display: none;
  }
}
.main .breadcrumbs .list .item:not(:last-child):hover {
  text-decoration: underline;
}
.main .breadcrumbs .list .item--active {
  color: #261e1e;
}
@media (max-width: 1200px) {
  .main .breadcrumbs .list .item--active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.main .breadcrumbs .list .separator {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}
.main .filters {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
@media (max-width: 1200px) {
  .main .filters {
    display: none;
  }
}
.main .filters .list {
  display: flex;
}
.main .filters .list .item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.main .filters .list .item:hover {
  cursor: pointer;
  background-color: rgba(38, 30, 30, 0.04);
}
.main .filters .list .label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}
.main .filters .list .img {
  height: 20px;
  margin-left: 8px;
}
.main .products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .products .row {
  margin: 8px;
}
.main .products .list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main .products .list {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .main .products .cards {
    flex-basis: 50%;
  }
}
.main .products .cards .card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}
.main .products .cards .card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.main .products .cards .card .img {
  max-width: 100%;
  max-height: 100%;
}
.main .products .cards .card .description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.main .products .cards .card .price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer .container {
  margin: 0 auto;
  width: 90%;
}
.footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .contact .info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.footer .contact .input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}
.footer .contact .input:hover {
  border-bottom: 2px solid #261E1E;
}
.footer .contact .input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.footer .contact .input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}
.footer .contact .btn {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
}
.footer .contact .btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.footer .contact .apps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contact .apps .msg {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
}
.footer .contact .apps .app {
  margin-left: 10px;
}
.footer .contact .apps .app .img {
  width: 110px;
}
.footer .links {
  background-color: #f6f6f6;
  margin-top: 40px;
  display: flex;
}
.footer .links .contacts {
  width: 30%;
  display: flex;
}
.footer .links .contacts .col {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer .links .contacts .contact-icon {
  text-align: center;
}
.footer .links .contacts .contact-icon .img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer .links .contacts .contact-icon .text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}
.footer .links .separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}
.footer .links .companies {
  display: flex;
  width: 60%;
  padding: 50px;
}
.footer .links .companies .company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .links .companies .company-links .item {
  padding-top: 8px;
}
.footer .links .companies .company-links .item .title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.footer .links .companies .company-links .item .text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.footer .links .companies .company-links .item .text:hover {
  text-decoration: underline;
}
.footer .payment {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.footer .payment .alternatives {
  width: 50%;
}
.footer .payment .alternatives .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .alternatives .img {
  margin: 2px;
  width: auto;
}
.footer .payment .social {
  flex-grow: 1;
}
.footer .payment .social .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .social .icons {
  display: flex;
}
.footer .payment .social .icons .icon {
  width: 50px;
}
.footer .payment .social .icons .icon .img {
  display: block;
  margin: auto;
}
.footer .payment .social .icons .icon .text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}
.footer .payment .accessibility {
  flex-grow: 1;
}
.footer .payment .accessibility .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .accessibility .img {
  width: 30px;
}
.footer .bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.footer .bottom .container {
  display: flex;
}
.footer .bottom .copyright {
  width: 83.333333%;
}
.footer .bottom .copyright .text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.footer .bottom .stamp {
  margin: 0 auto;
  width: 47px;
}

/*# sourceMappingURL=styles.css.map */
