@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}
@media (max-width: 767.98px) {
  .header {
    height: 8rem;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__top {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .header__top {
    justify-content: space-between;
  }
}
.header__top-mobile {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__top-mobile {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .header__top-mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__top-desktop {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__top-desktop {
    display: none;
  }
}
.header__top__mobile__drawer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #d3d3d3;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 0.8rem;
}
.header__top__mobile__drawer:hover {
  background: #eee;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__top__mobile__drawer.drawer-active {
    display: flex;
  }
}
@media (max-width: 767.98px) {
  .header__top__mobile__drawer.drawer-active {
    display: flex;
  }
}
.header__searchbar {
  background: #fff;
  color: #d3d3d3;
  border-radius: 4px;
  border: 1px solid #eee;
  width: 100%;
  max-width: 80rem;
  padding: 0 0.5rem;
  margin: 0.5rem auto 0 auto;
  display: flex;
  align-items: center;
  transition: border-color 0.2s;
}
.header__searchbar:hover {
  border-color: #333;
}
.header__searchbar__input {
  display: block;
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.75;
}
.header__searchbar__input::placeholder {
  color: #d3d3d3;
}
.header__searchbar__input:hover, .header__searchbar__input:focus {
  outline: none;
}
.header__searchbar__svg {
  fill: #d3d3d3;
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.header__nav {
  width: 100%;
  max-width: 80rem;
  margin: 0.5rem auto 0 auto;
  padding: 0 0.5rem;
}
@media (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.header__nav__list__item {
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease;
}
.header__nav__list__item:hover {
  border-color: #333;
}

.breadcrumbs {
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767.98px) {
  .breadcrumbs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs__navegacao {
  padding-bottom: 0.5rem;
}
.breadcrumbs__navegacao__list {
  display: flex;
}
.breadcrumbs__navegacao__list a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #878787;
}
.breadcrumbs__navegacao__list__separator {
  display: flex;
  margin: 0 8px;
}
.breadcrumbs__navegacao__list a:hover {
  border-bottom: 1px solid #333;
}
.breadcrumbs__navegacao__list li strong {
  font-size: 0.8rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #261e1e;
  background-color: #fff;
  line-height: 1.43;
  font-family: "Open Sans", sans-serif;
  padding-top: 9rem;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 767.98px) {
  body {
    padding-top: 8rem;
  }
}
body main {
  padding: 1rem;
  max-width: 72rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.escondeVisualmente {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  display: none;
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 16px;
}
.main .filters {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
@media (max-width: 767.98px) {
  .main .filters {
    display: none;
  }
}
.main .filters .list {
  display: flex;
}
.main .filters .list .item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.main .filters .list .item:hover {
  cursor: pointer;
  background-color: rgba(38, 30, 30, 0.04);
}
.main .filters .list .label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}
.main .filters .list .img {
  height: 20px;
  margin-left: 8px;
}
.main .products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .products .row {
  margin: 8px;
}
.main .products .list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .main .products .list {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .main .products .cards {
    flex-basis: 50%;
  }
}
.main .products .cards .card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}
.main .products .cards .card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.main .products .cards .card .img {
  max-width: 100%;
  max-height: 100%;
}
.main .products .cards .card .description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.main .products .cards .card .price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer .container {
  margin: 0 auto;
  width: 90%;
}
.footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .contact .info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.footer .contact .input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}
.footer .contact .input:hover {
  border-bottom: 2px solid #261e1e;
}
.footer .contact .input:focus-within {
  border-bottom: 2px solid #261e1e;
}
.footer .contact .input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}
.footer .contact .btn {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
}
.footer .contact .btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.footer .contact .apps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contact .apps .msg {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
}
.footer .contact .apps .app {
  margin-left: 10px;
}
.footer .contact .apps .app .img {
  width: 110px;
}
.footer .links {
  background-color: #f6f6f6;
  margin-top: 40px;
  display: flex;
}
.footer .links .contacts {
  width: 30%;
  display: flex;
}
.footer .links .contacts .col {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer .links .contacts .contact-icon {
  text-align: center;
}
.footer .links .contacts .contact-icon .img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer .links .contacts .contact-icon .text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}
.footer .links .separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}
.footer .links .companies {
  display: flex;
  width: 60%;
  padding: 50px;
}
.footer .links .companies .company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .links .companies .company-links .item {
  padding-top: 8px;
}
.footer .links .companies .company-links .item .title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.footer .links .companies .company-links .item .text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.footer .links .companies .company-links .item .text:hover {
  text-decoration: underline;
}
.footer .payment {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.footer .payment .alternatives {
  width: 50%;
}
.footer .payment .alternatives .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .alternatives .img {
  margin: 2px;
  width: auto;
}
.footer .payment .social {
  flex-grow: 1;
}
.footer .payment .social .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .social .icons {
  display: flex;
}
.footer .payment .social .icons .icon {
  width: 50px;
}
.footer .payment .social .icons .icon .img {
  display: block;
  margin: auto;
}
.footer .payment .social .icons .icon .text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}
.footer .payment .accessibility {
  flex-grow: 1;
}
.footer .payment .accessibility .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .accessibility .img {
  width: 30px;
}
.footer .bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.footer .bottom .container {
  display: flex;
}
.footer .bottom .copyright {
  width: 83.333333%;
}
.footer .bottom .copyright .text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261e1e;
}
.footer .bottom .stamp {
  margin: 0 auto;
  width: 47px;
}

/*# sourceMappingURL=styles.css.map */
